footer {
    display: flex;
}

section.footer {
    display: flex;
}

footer {
    background-color: #F2D399;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}